<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLHoiGiang"
			 connectionString="Data Source=TUANDAT\SQLEXPRESS;Initial Catalog=QLHoiGiang;Integrated Security=True" />
		<add name="DefaultConnection"
			 connectionString="Data Source=TUANDAT\SQLEXPRESS;Initial Catalog=QLHoiGiang;Integrated Security=True;TrustServerCertificate=True;MultipleActiveResultSets=True;" />
	</connectionStrings>
</configuration>
